<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card w-100 p-0">
      <div class="card-header">
        <p>Add Todo</p>
        <div class="form-group d-flex ">
          <input type="text" class="" [(ngModel)]="todoItem">
          <button type="submit" class="mx-4" (click)="addTodo(todoItem)">Add</button>
          <button type="submit" class="mx-8 text-decoration-none">
            <a routerLink="/list">Open Todo List</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
